.menu-item {
    min-width: calc(100% - 50px);
    min-height: 4rem;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px 25px;
    line-height: 4rem;
    font-size: 1.5rem;
    color: black;
}

.modal-content {
    background-color: transparent;
}

.modal {
    color: white;
    font-size: 2rem;
}