<!-- <div class="jumbotron sidenav row m-0 p-0 bg-transparent" [@sidenavHidden]="sidenavHidden">
    <div class="col-8 bg-dark">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or
            information.
        </p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <div class="col-4" (click)="closeSidenav();"></div>
</div>
<div class="row mb-4 ml-0 mr-0 mt-0 p-0 top-menu-shadow">
    <div class="col m-0 p-2 text-center text-secondary" (click)="openSidenav();">
        <fa name="bars" size="2x"></fa>
    </div>
    <div class="col m-0 p-2 text-center text-secondary">
        <fa name="user" size="2x"></fa>
    </div>
    <div class="col m-0 p-2 text-center text-secondary">
        <fa name="user" size="2x"></fa>
    </div>
    <div class="col m-0 p-2 text-center text-secondary">
        <fa name="user" size="2x"></fa>
    </div>
    <div class="col m-0 p-2 text-center text-secondary" (click)="toggleCellBorderPreference();">
        <fa [name]="cellBorderPreference" size="2x"></fa>
    </div>
</div> -->

<!-- <app-square-board [cellBorderPreference]="cellBorderPreference" [p1Color]="'#40C0CB'" [p2Color]="'#AEE239'" [boardBackground]="'#C7C0B5'"
    [boardName]="'8x8-normal'"></app-square-board> -->


<router-outlet></router-outlet>